<div id="app-container">
  <header>
    <app-navbar></app-navbar>
  </header>

  <main role="main">
    <app-sidebar [userClaims]="userClaims"></app-sidebar>
    <div id="app-pages">
      <router-outlet></router-outlet>
      <footer id="app-footer">
          <app-footer></app-footer>
      </footer>
    </div>
  </main>
</div>
<ngx-spinner
  bdColor="rgba(0,119,194)"
  size="medium"
  color="#fff"
  type="pacman">
 <p style="font-size: 20px; color: white">We're cooking this for you...</p>
</ngx-spinner>
