@import "./variables.scss";
@import "./navbar.scss";
@import "./sidebar.scss";
@import "./main.scss";
@import "./pages.scss";
@import "./footer.scss";

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding-top: 60px;
}

#app-container {
  height: 100%;
  background: #c4dbf6;
}
