#app-sidebar {
  position: static;
  width: $sidebar-width;
  height: $sidebar-height;
  overflow: auto;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(186,184,186,1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(186,184,186,1);
  box-shadow: 2px 2px 5px 0px rgba(186,184,186,1);
  background: #fff;

  .user-profile {

    .profile-photo {
      img {
        width: 50px;
        height: 50px;
        display: block;
        margin: 20px auto;
      }
    }

    .profile-name {
      text-align: center;
      font-weight: bold;
    }

  }

  .sidebar-menu {
    list-style-type: none;
    padding: 0;

    a {
      top: 6px;
      width: 100%;
      position: relative;
      display: block;
      color: $primary-text-color;

      li {
        padding: 10px 20px;
        text-decoration: center;
        border-bottom: 1px solid #ccc;

        svg {
          position: absolute;
          width: 30px;
          height: 30px;
          text-align: center;
          display: inline-block;
          margin: 0 12px 0px 0px;
        }
      }

      li:hover {
        background: $secondary-color;
        color: #fff;
        cursor: pointer;
      }

      span {
        display: block;
        position: relative;
        top: 5px;
        padding: 0px 0px 0px 40px;
      }
    }

    a:hover {
      text-decoration: none;
    }

    .active {
      // background: #3b8beb;
      background: $secondary-color;
      color: #fff;
      cursor: pointer;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
      box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    }
  }

}
