$navbar-height: 70px;

$sidebar-width: 250px;
$sidebar-height: 100%;

$pages-width: 100%;

/* App Container */
$app-container-color: #c5c5c5;

/* Logo */
$askgoo-logo-width: 80px;

/* Colors */
$primary-color: #0077c2;
$secondary-color: #42a5f5;

/* Text */
$primary-text-color: #212121;
