$navbar-height: 60px;

$sidebar-width: 250px;
$sidebar-height: 100%;

$pages-width: 100%;


/* Colors */
$main-color-primary: #3949AB;
$main-color-secondary: #c4dbf6;;

/* Text */
$main-text-color: #212121;
