body {
    margin-top: 65px;
}

/*#region Bootstrap Resets*/
.btn {
    width: 100px;
    height: 40px;
    font-size: 1.2em;
    -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.42);
    box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.42);
}
.btn-primary {
    background-color: #f2476a;
    border: none;
}
.btn-primary:hover {
    background: #2196F3;
}
.form-control {
    background: #eee;
}
/*#endregion*/

.navbar {
    background: #0077c2;
    color: #fff;
    height: 70px;
}
.navbar-header {
    position: relative;
    top: -4px;
}
.navbar-inverse {border: 0;}
.navbar-inverse .navbar-brand {
    color: #fff;
    margin-top: 10px;
}
.navbar-brand > .icon-banner {
    position: relative;
    top: -2px;
    display: inline;
}
.navbar-inverse .navbar-nav > li > a {color: #fff;}
.askgoo-logo {
    width: 92px;
    display: block;
    position: relative;
    top: -17px;
}
.icon {
    position: relative;
    top: -10px;
}
.logged-out iframe {
  display: none;
  width: 0;
  height: 0;
}
.page-consent .client-logo {
  float: left;
}
.page-consent .client-logo img {
  width: 80px;
  height: 80px;
}
.page-consent .consent-buttons {
  margin-top: 25px;
}
.page-consent .consent-form .consent-scopecheck {
  display: inline-block;
  margin-right: 5px;
}
.page-consent .consent-form .consent-description {
  margin-left: 25px;
}
.page-consent .consent-form .consent-description label {
  font-weight: normal;
}
.page-consent .consent-form .consent-remember {
  padding-left: 16px;
}
.grants .page-header {
  margin-bottom: 10px;
}
.grants .grant {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}
.grants .grant img {
  width: 100px;
  height: 100px;
}
.grants .grant .clientname {
  font-size: 140%;
  font-weight: bold;
}
.grants .grant .granttype {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .created {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant .expires {
  font-size: 120%;
  font-weight: bold;
}
.grants .grant li {
  list-style-type: none;
  display: inline;
}
.grants .grant li:after {
  content: ', ';
}
.grants .grant li:last-child:after {
  content: '';
}

/*#region Sign In Page*/
.signin-page {
    margin-top: 50px;
}
.signin-page .form-signin .form-control {
    height: 45px;
}
.signin-page .panel-default {
    -webkit-box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.35);
    box-shadow: 0px 6px 5px -3px rgba(0,0,0,0.35);
}
.signin-page .panel-heading {
    background: #2196F3;
    color: #fff;
}
/*#endregion*/

/*#region Sign out Page*/
.signout-page {
    background: #78b7ff;
    text-align: center;
    color: #fff;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 17px -6px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 10px 17px -6px rgba(0,0,0,0.53);
    box-shadow: 0px 10px 17px -6px rgba(0,0,0,0.53);
}
.btn-signout {
    background: #f2476a;
    border: unset;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.22);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.22);
    height: 45px;
    font-size: 1.2em;
}
.btn-signout:hover {
    background: #f2476a;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.55);
    color: #fff;
}

.signout-page .btn-goback {
    color: #fff;
    font-size: 1.2em;
    margin: 0 20px;
    border-bottom: 2px solid #f2476a;
    font-weight: bold;
    padding: 0px 0px 5px;
}
.signout-page .btn-goback:hover {
    text-decoration: none;
    color: #212121;
}
.signout-page .btn-goback:focus {
    text-decoration: none;
    outline: none;
}
.signout-page .page-header {border-bottom: 0px;}

/*#endregion*/

/*#region Signed out page*/
.signed-out {}
.signed-out h1 {
    text-align: center;
}
/*#endregion*/