<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">
  <div class="col-xs-12 col-sm-2 col-md-2">
    <a class="navbar-brand" href="javascript:void(0)">
      <img class="askgoo-logo" src="../../../assets/img/logo.png" alt="AskGoo" />
    </a>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-6">
      <input class="form-control form-control-dark"
      type="text" placeholder="Search" aria-label="Search">
  </div>
  <div class="col-xs-12 col-sm-2 col-md-4">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link nav-link-signout" href="javascript:void(0)" (click)="signOut()" title="Sign out"><i class="fas fa-door-open"></i></a>
        </li>
      </ul>
  </div>
  </nav>
