<div id="new-message-component">
  <h2>Message</h2>
  <form>
    <div class="form-group">
      <label for="messageRecipient">Recipient</label>
        <input class="form-control" type="text" id="messageRecipient" placeholder="Recipient">
    </div>
    <div class="form-group">
      <label for="messageTextArea">Message</label>
      <textarea class="form-control" id="messageTextArea" rows="3" placeholder="Enter your message..."></textarea>
    </div>
    <button type="button" class="btn btn-success mr-2">Send</button>
    <button type="button" class="btn btn-warning">Cancel</button>
  </form>
</div>
